name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 16.x, 18.x]

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
    - run: npm run build --if-present

    # Add a step to package the built file and push it to GitHub Releases
    - name: Package and Release
      id: release
      run: |
        mkdir -p release
        mv robloxpresence.exe release/
        echo "::set-output name=release_asset_path::release/robloxpresence.exe"
      shell: bash

    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      with:
        files: ${{ steps.release.outputs.release_asset_path }}
        token: ${{ secrets.TOKEN }}
        tag_name: v1.0.0 # Replace with your desired tag name
        release_name: Release 1.0.0 # Replace with your desired release name
